<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="construtec.mobile">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterUser"
            android:noHistory="true"/>
        <activity android:name=".UserInformation"/>
        <activity
            android:name=".CreateNewProject"
            android:label="@string/title_activity_create_new_project"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ProjectInformation"
            android:label="@string/title_activity_view_all_stages"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AddStageToProject"
            android:label="@string/title_activity_add_stage_to_project"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".StageInformation"
            android:label="@string/title_activity_view_materials_for_stage"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AddMaterialToStage"
            android:label="@string/title_activity_add_material_to_stage"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CreateNewStage"/>
        <activity android:name=".budget"/>
        <activity android:name=".nextProjects"/>
        <activity android:name=".admin_screen">
        </activity>
        <activity android:name=".ProyectComments">
        </activity>
    </application>

</manifest>