<nav ng-init="getProjects('Ingeniero/')" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    	<div class="navbar-header">
      		<a class="navbar-brand" href="#myPage">ConstruTEC</a>
    	</div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="goTo('/search')">SEARCH</a></li>
		        <li><a ng-click="openRegisterForm(1)">NEW ARCHITECT</a></li>
	      		<li><a ng-click="goTo('/phase')">NEW PHASE</a></li>
		        <li><a ng-click="goTo('/login')">LOGOUT</a></li>
	      	</ul>
	    </div>
  	</div>
</nav>
<div class="jumbotron container text-center">
	<div>
		<table class="table table-hover">
	        <thead style="background-color: lightgray;">
	          	<tr>
		            <th>ID</th>
		            <th>Name</th>
					<th>LOCATION</th>
			        <th>CLIENT ID</th>
			        <th>EDIT</th>
			        <th>BUDGET</th>
	          	</tr>  
	        </thead>
	        <tbody>
	            <tr ng-repeat-start="(projIndex, proj) in projects">
	            	<td>{{proj.Id_Proyect}}</td>
				    <td>{{proj.Name}}</td>
				    <td>{{proj.Location}}</td>
				    <td>{{proj.Id_Client}}</td>
				    <td>
	              		<button ng-if="proj.expanded" ng-click="proj.expanded = false">-</button>
	              		<button ng-if="!proj.expanded" ng-click="proj.expanded = true; loadProjectPhases(proj.Id_Proyect)">+</button>
	            	</td>
	            	<td><button ng-click="">o</button></td>
	          	</tr>
	          	<tr ng-if="proj.expanded" ng-repeat-end="">
	            	<td colspan="5" >
	            		<div>
	            			<table class="table table-hover">
						        <thead>
						          	<tr>
							            <th>NAME</th>
							            <th>START</th>
										<th>FINISH</th>
										<th>EDIT MATERIALS</th>
										<th>FINISHED</th>
										<th>DELETE PHASE</th>
						          	</tr>  
						        </thead>
						        <tbody>
						            <tr ng-repeat-start="(phaseIndex, p) in phases track by $index">
						            	<td>{{p.Stage_Id}}</td>
									    <td>{{p.Start_Date}}</td>
									    <td>{{p.End_Date}}</td>
									    <td>
						              		<button ng-if="p.expanded" ng-click="p.expanded = false">-</button>
						              		<button ng-if="!p.expanded" ng-click="p.expanded = true; loadPhaseMaterials(p.Divided_Id)">+</button>
						            	</td>
						            	<td>
						            		<button ng-click="makeOrder(p.Divided_Id)"> o </button>
						            	</td>
						            	<td><button ng-click="deletePhase(phaseIndex)">-</button></td>
				          			</tr>
						          	<tr ng-if="p.expanded" ng-repeat-end="">
						          		<td colspan="5" >
						            		<div>
						            			<table  ng-init="" class="table table-hover">
											        <thead>
											          	<tr>
												            <th>NAME</th>
												            <th>Quatity</th>
															<th>DELETE MATERIAL</th>
											          	</tr>  
											        </thead>
											        <tbody>
											            <tr ng-repeat="(matIndex, mat) in materials track by $index">
											            	<td>{{mat.Id_Material}}</td>
														    <td>{{mat.Quantity}}</td>
											            	<td><button ng-click="deletePhaseMaterial(matIndex)">-</button></td>
											          	</tr>
											        </tbody>
											    </table>
											    <button type="button" class="btn btn-default" ng-click="openMaterialForm(p.Divided_Id)">
													<span class="glyphicon glyphicon-plus"></span> ADD MATERIAL
												</button>
						            		</div>
						            	</td>
						          	</tr>
						        </tbody>
						    </table>
						    <button type="button" class="btn btn-default" ng-click="openPhaseForm(proj.Id_Proyect)">
								<span class="glyphicon glyphicon-plus"></span> ADD PHASE
							</button>
	            		</div>
	            	</td>
	          	</tr>
	        </tbody>
	    </table>
	</div>
	<div>
		<button type="button" class="btn btn-default" ng-click="openProjectForm()">
			<span class="glyphicon glyphicon-plus"></span> ADD PROJECT
		</button>
	</div>
</div>