<!DOCTYPE html>
<html ng-app="construtecAPP">
	<head>
		<title>ConstruTEC</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" type="text/javascript"></script>
		<script src="Scripts/angular-route.js"></script>
		<script src="Scripts/app.js"></script>
		<script src="Scripts/ui-bootstrap-tpls-2.2.0.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>

	<body>
	<script type="text/ng-template" id="ProjectForm.html">
		<div class="modal-header">
		    <h4 class="modal-title" id="myModalLabel"> NEW PROJECT INFORMATION </h4>
            </div>  
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                    	<label  class="col-sm-2 control-label" for="newProjectName"> Name </label>
	                    <div class="col-sm-10">
	                        <input type="text" class="form-control" id="newProjectName" ng-model="newProjectName" placeholder="Name"/>
	                    </div>
                    </div>
                    <div class="form-group">
                    	<label class="col-sm-2 control-label" for="newProjectID"> PROJECT ID </label>
                    	<div class="col-sm-10">
                        	<input type="text" class="form-control" id="newProjectID" ng-model="newProjectID" placeholder="Project ID"/>
                    	</div>
                  	</div>
                  	<div class="form-group">
                    	<label class="col-sm-2 control-label" for="newProjectLoc"> Location </label>
                    	<div class="col-sm-10">
                        	<input type="text" class="form-control" id="newProjectLoc" ng-model="newProjectLoc" placeholder="Location"/>
                    	</div>
                  	</div>
                  	<div class="form-group">
                    	<label class="col-sm-2 control-label" for="newProjectClientID"> Client ID </label>
                    	<div class="col-sm-10">
                        	<input type="text" class="form-control" id="newProjectClientID" ng-model="newProjectClientID" placeholder="Client ID"/>
                    	</div>
                  	</div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addNewProject()"> SAVE PROJECT </button>
            </div>
	</script>

	<script type="text/ng-template" id="PhaseForm.html">
		<div class="modal-header">
		    <h4 class="modal-title" id="myModalLabel"> NEW PROJECT INFORMATION </h4>
            </div>  
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form">
                	<div class="form-group">
	                	<div class="col-sm-4">
		                	<select class="form-control" ng-model="newPhaseName">
						        <option ng-repeat="phase in listPhases">{{phase.name}}</option>
	      					</select>
	                	</div>
                	</div>
                    <div class="form-group">
                    	<label  class="col-sm-2 control-label" for="newProjectName"> Starts </label>
	                    <div class="col-sm-10">
	                        <input type="text" class="form-control" id="newPhaseName" ng-model="newPhaseStart" placeholder="Start Date"/>
	                    </div>
                    </div>
                    <div class="form-group">
                    	<label class="col-sm-2 control-label" for="newProjectID"> Finishes </label>
                    	<div class="col-sm-10">
                        	<input type="text" class="form-control" id="newProjectID" ng-model="newPhaseEnd" placeholder="Due Date"/>
                    	</div>
                  	</div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addNewPhase()"> SAVE PHASE </button>
            </div>
	</script>

		<div>
			<div ng-view=""></div>
		</div>
	</body>
</html>